<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>
</head>
<body style="font-family: Arial; font-size: 14px;">
<p>Hi {{username}},</p>
<p>Welcome to Algohub. Please activate your account by clicking the button below. </p>

<p style="text-align: center;" align="center">
    <a href="https://www.algohub.org/activate?code={{ code }}" style="background-color: #3498db; background-image: linear-gradient(to bottom, #3498db, #2980b9); -webkit-border-radius: 28; -moz-border-radius: 28; border-radius: 28px; font-family: Arial; color: #ffffff; padding: 10px 20px; font-size: 20px; text-decoration: none;">Activate Algohub Account</a>
</p>

<p>This link will <b>expire in 15 minutes</b>.</p>
</body>
</html>
